@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
}

:root {
  --primary-color: #262f37;
  --secondary-color: #ffff;
}

.navbar-brand>a {
  color: white;
  text-decoration: none;
}

.nav-link>a {
  color: #fffefedf;
  text-decoration: none;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:focus:active {
  border: 1px solid var(--primary-color);
  border-radius: 0;
  background-color: var(--primary-color);
  box-shadow: none;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary:focus:active {
  color: var(--primary-color);
  border-radius: 0;
  background-color: var(--secondary-color);
  box-shadow: none;
}

.pagination .active .page-link {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #ffff;
}

.pagination .page-link {
  color: var(--primary-color)
}


.nav-pills .nav-link {
  color: var(--primary-color);
}

.nav-pills .nav-link.active {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 0;
  border-bottom: 3px solid var(--primary-color);
}
