html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #262f37;
  --secondary-color: #ffff;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:focus:active {
  border: 1px solid var(--primary-color);
  border-radius: 0;
  background-color: var(--primary-color);
  box-shadow: none;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary:focus:active {
  color: var(--primary-color);
  border-radius: 0;
  background-color: var(--secondary-color);
  box-shadow: none;
}
